.contentWidth {
  inline-size: 700px;
}

.imgWidth {
  inline-size: 594px;
}

.characterHeight {
  block-size: auto;
  max-block-size: 628px;
  max-inline-size: 100%;
}

.characterRtl {
  transform: scaleX(-1);
}
