.maxHeight {
  max-block-size: 470px;
}

.avatar {
  inline-size: 50px;
  block-size: 50px;
  background-color: var(--mui-palette-action-selected);
}

.gridItem:not(:last-of-type):not(:nth-last-of-type(2)) {
  border-block-end: 1px solid var(--mui-palette-divider);
}
.gridItem:nth-of-type(odd) {
  border-inline-end: 1px solid var(--mui-palette-divider);
}

.link:hover {
  background-color: var(--mui-palette-action-hover);
}

.icon {
  font-size: 1.625rem;
}
