.cardMedia {
  block-size: 250px;
}

.profileImgMargin {
  margin-block-start: -45px;
}

.profileImgBorder {
  border: 5px solid var(--mui-palette-background-paper);
  background-color: var(--mui-palette-background-paper);
}

.pdfBackground {
  padding-block: 0.3125rem;
}
