.borderRight {
  border-inline-end: 1px solid var(--mui-palette-divider);
}

.borderBottom {
  border-block-end: 1px solid var(--mui-palette-divider);
}

.imageWrapper {
  padding-block: 5px;
  padding-inline: 10px;
}
