.borderLeft {
  border-inline-start: 1px solid var(--mui-palette-divider);
}

.addNewCustomer {
  color: var(--mui-palette-success-main) !important;
  background-color: transparent !important;

  &:hover {
    color: var(--mui-palette-success-main);
    background-color: var(--mui-palette-success-lightOpacity) !important;
  }
}
