.gridItemBelowMd:nth-of-type(odd) > div {
  padding-inline-end: 1.5rem;
  border-inline-end: 1px solid var(--mui-palette-divider);
}

.gridItemAboveMd:not(:last-child) > div {
  padding-inline-end: 1.5rem;
  border-inline-end: 1px solid var(--mui-palette-divider);
}

.searchInvoice {
  min-inline-size: 200px;
}

.invoiceStatus {
  min-inline-size: 175px;
}

.iconSize {
  inline-size: 1rem;
  block-size: 1rem;
}
